@import '../vars';

.c-ability {
  margin: 1px;
  width: $ability-width;
  height: $ability-height;
  background-color: $color-base-4;
}

.c-ability__image {
  display: block;
  width: $ability-width;
  height: $ability-height;
}

.c-ability--standard {
  border-radius: $border-radius-ability;
  border: 1px solid $color-ability-border;
}

.c-ability--morale {
  border-radius: $border-radius-ability-morale;
  border: 1px solid $color-ability-border;
  .c-ability__image {
    border-radius: $border-radius-ability-morale;
  }
}

.c-ability--tactic {
	background: url('/images/tactic-background.svg') no-repeat 0 0;
	background-size: cover;
}

.c-ability--inactive .c-ability__image {
  opacity: $ability-opacity-inactive;
}

.c-ability--optional.c-ability--active {
  cursor: pointer;
}

/* Core morales */
.c-ability--morale:not(.c-ability--mastery) {
  margin: 1px;
}
.c-ability--morale:not(.c-ability--mastery).c-ability--active {
  &.is-selected {
    border: 2px solid $color-ability-border-selected;
    margin: 0;
   .c-ability__image {
      opacity: $ability-opacity-active;
    }
  }
}

/* Core tactics */
.c-ability--tactic:not(.c-ability--mastery) {
  padding: 0;
  margin: 2px;
}
.c-ability--tactic:not(.c-ability--mastery).c-ability--active {
  background: transparent;
  padding: 2px;
  margin: 0;
  &.is-selected {
    background: url('/images/tactic-background-selected.svg') no-repeat 0 0;
    background-size: cover;
   .c-ability__image {
      opacity: $ability-opacity-active;
    }
  }
}

/* The following are styles for optional meter abilities */
.c-ability--mastery.c-ability--active {
	background-color: $color-ability-active;
  .c-ability__image {
    opacity: $ability-opacity-inactive;
  }
  &.is-selected {
    background: transparent;
    background-color: transparent;
    .c-ability__image {
      opacity: $ability-opacity-active;  
    }
  }
}
.c-ability--mastery.c-ability--active.c-ability--tactic {
	background: url('/images/optional-tactic-active.svg') no-repeat 0 0;
	background-size: cover;
}

/* Styling over Ability Popover content */
.c-ability-pop {
  &__item {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
    &--right {
      text-align: right;
    }
    &--large {
      font-size: 1.4rem; 
    }
    &--primary {
      color: $color-xp;
    }
    &--secondary {
      color: $color-primary; 
    }
  }
  &__divider {
    border-bottom: 1px solid $color-ability-border;
    padding-bottom: 3px;
  }
  &__image {
    display: none;
    width: $ability-width-popover;
    height: $ability-height-popover;
    border-radius: $border-radius-ability;
    border: 1px solid $color-ability-border;
    margin-bottom: $base-spacing;
    @media screen and (max-width: $breakpoint-mobile) {
      display: block;
    }
  }
}

.c-ability__screen {
  z-index: 10;
  display: none;
  position: absolute;
  width: $ability-width;
  height: $ability-height;
  @media screen and (max-width: $breakpoint-mobile) {
    display: block;
  }
}
