@import '../vars';
@import '../mixins';

$bar-height: 1rem;
$bar-height-small: 0.7rem;

.c-progress {
  position: relative;
  background-color: $color-base-5;
  &__bar {
    position: relative;
    height: $bar-height;
    width: 1%;
    transition: width .3s ease;
  }
  &__bar--thin {
    height: $bar-height-small;
  }
  &--xp &__bar {
    background-color: $color-xp;
  }
  &--renown &__bar {
    background-color: $color-renown;
  }
  &--xp {
    background-color: $color-xp-dark;
  }
  &--renown {
    background-color: $color-renown-dark;
  }
}
