@import '../vars';
@import '../normalize';
@import '../mixins';
@import '../objects';
@import '../buttons';
@import '../components';
@import '../utilities';

.c-home {
  &__content {
    height: 100vh;
    color: $color-text-primary;
    transition: $base-transition;
  }
  &__container {
    width: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-base-1;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    @media screen and (min-width: $breakpoint-sm) {
      width: 750px;
    }
    @media screen and (min-width: $breakpoint-md) {
      width: 950px;
    }
  }
  &__copy {
    position: relative;
    z-index: 20;
    font-weight: 300;
    color: $color-text-primary;
    @media screen and (max-width: $breakpoint-mobile) {
      z-index: auto;
    }
    p {
      margin-top: 0;
      margin-bottom: ($base-spacing * 1.5);
    }
    &__link { 
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $color-text-primary;
        text-decoration: underline;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}