@import '../vars';
@import '../mixins';

.c-meter {
  width: 5rem;
  background-color: $color-base-1;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
  &__level {
    height: 1.8rem;
    background-color: $color-points-dark;
    margin-bottom: 0.2rem;
    &--active {
      background-color: $color-points; 
    }  
  }
}
