@import '../vars';
@import '../mixins';

$meter-width: 5rem;
$meter-item-height: 1.6rem;
$meter-spacing: 0.4rem;
$meter-item-spacing-bottom: 0.2rem;
$meter-item-color: rgba(0, 0, 0, 0.4);
$meter-item-color-active: rgba(255, 255, 255, 0.8);
$meter-item-color-available: rgba(255, 255, 255, 0.4);
$meter-item-font-size: 0.8rem;
$meter-item-border-available: #8E6161;

.c-meter {
  display: flex;
  flex-direction: column-reverse;
  width: $meter-width;
  background-color: $color-base-1;
  padding: $meter-spacing;
  margin-bottom: $meter-spacing;
  &__level {
    height: $meter-item-height;
    line-height: $meter-item-height;
    border: 1px solid $color-points-dark;
    text-align: center;
    background-color: $color-points-dark;
    margin-bottom: $meter-item-spacing-bottom;
    color: $meter-item-color;
    font-size: $meter-item-font-size;
    &--active {
      background-color: $color-points;
      border: 1px solid $color-points;
      color: $meter-item-color-active;
    }
    &--available {
      border: 1px solid $meter-item-border-available;
      background-color: $meter-item-border-available;
      color: $meter-item-color-available;
    }
  }
}
