@import '../vars';

.c-level {
  display: flex;
  height: 100%;
  align-items: center;
  &__label {
    font-size: 1.6rem;
    margin-right: $base-spacing;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 1.4rem;
    }
  }
  &__select {
    height: 2.8rem;
    font-size: 1.2rem;
    padding: 1rem;
    border: 1px solid $color-base-border;
    border-radius: $border-radius-base;
  }
}
