@import '../vars';

$width-sidebar: 250px;
$width-sidebar-border: 2px;
$font-size-sidebar: 1.2rem;
$color-sidebar-text: $color-base-0;
$color-sidebar-border: $color-base-3;
$color-sidebar-background: $color-tertiary-light;
$color-sidebar-background-hover: $color-tertiary;
$color-sidebar-hover: $color-base-1;

.c-sidebar {

  z-index: 10;
  transition: $base-transition;
  position: fixed;
  top: 0;
  left: -$width-sidebar;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: $color-sidebar-background;
  border-right: $width-sidebar-border solid $color-ability-border;

  &__content {
    width: calc(#{$width-sidebar} - #{$width-sidebar-border});
  }

  &__item {
    display: block;
    line-height: 2rem;
    transition: background .1s ease;
    color: $color-sidebar-text;
    padding: $base-spacing / 3;
    text-decoration: none;
    font-size: $font-size-sidebar;
    border-bottom: 1px solid $color-sidebar-border;
    &:hover {
      background: $color-sidebar-background-hover;
      color: $color-sidebar-hover;
    }
  }

  &--active {
    transform: translateX($width-sidebar);
  }
}

.c-home,
.o-wrapper {
  &.sidebar {
    transform: translateX($width-sidebar);
  }
}
