@value color-base-5 from "../values/colours.css";

@value ability-width: 36px;
@value ability-height: 36px;
@value opacity-inactive: 0.2;

.ability {
  margin: 0.1rem;
  width: ability-width;
  height: ability-height;
  background-color: color-base-5;
}
.image {
  display: block;
  width: ability-width;
  height: ability-height;
}
.imageInactive {
  composes: image;
  opacity: opacity-inactive;
}
