@value color-base-3 from "../values/colours.css";
@value spacing from "../values/spacing.css";

.box {
  padding-top: spacing;
  padding-right: spacing;
  padding-bottom: spacing;
  padding-left: spacing;
  background-color: color-base-3;
}
