@value spacing, spacing-small from "../values/spacing.css";
@value mq-sm-min, mq-mobile from "../values/mediaQueries.css";
@value color-text-primary, color-primary, color-primary-1, color-primary-2, color-secondary, color-secondary-1, color-secondary-2, color-negative, color-negative-1, color-negative-2 from "../values/colours.css";
@value font-size-2 from "../values/fontSizes.css";

.button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  color: color-text-primary;
  font-weight: 300;
  font-size: font-size-2;
  padding-top: spacing-small;
  padding-right: spacing-small;
  padding-bottom: spacing-small;
  padding-left: spacing-small;
}
@media mq-sm-min {
  .button {
    padding-right: spacing;
    padding-left: spacing;
  }
}
.buttonPrimary {
  composes: button;
  background-color: color-primary;
  border: 1px solid color-primary-1;
  &:hover, &:active, &:focus {
    background-color: color-primary-2;
  }
}
.buttonSecondary {
  composes: button;
  background-color: color-secondary;
  border: 1px solid color-secondary-1;
  &:hover, &:active, &:focus {
    background-color: color-secondary-2;
  }
}
.buttonSecondaryInverse {
  composes: button;
  background-color: color-secondary-1;
  border: 1px solid color-secondary;
  &:hover, &:active, &:focus {
    background-color: color-secondary-2;
  }
}
.buttonSecondaryInverseLarge {
  composes: buttonSecondaryInverse;
  font-size: 2rem;
  padding-top: spacing;
  padding-bottom: spacing;
}
@media mq-mobile {
  .buttonSecondaryInverseLarge {
    padding-left: spacing;
    padding-right: spacing;
  }
}
.buttonNegative {
  composes: button;
  background-color: color-negative;
  border: 1px solid color-negative-1;
  &:hover, &:active, &:focus {
    background-color: color-negative-2;
  }
}
.buttonDisabled {
  opacity: 0.2;
  cursor: not-allowed;
}

/*

.c-button--small {
  font-size: 70%;
  width: 2.8rem;
  height: 2rem;
}

.c-button--large {
  font-size: 2rem;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  @media screen and (max-width: $breakpoint-mobile) {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
  }
}*/
