@value color-base-5 from "../values/colours.css";
@value spacing-small from "../values/spacing.css";
@value mq-mobile from "../values/mediaQueries.css";

.careerIcon {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: spacing-small;
}
@media mq-mobile {
  .careerIcon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.careerIconSmall {
  composes: careerIcon;
  width: 2.2rem;
  height: 2.2rem;
}
.careerIconSmaller {
  composes: careerIcon;
  width: 2rem;
  height: 2rem;
}
.careerIconSmallest {
  composes: careerIcon;
  width: 1.8rem;
  height: 1.8rem;
}
.careerIconBordered {
  composes: careerIcon;
  border: 2px solid color-base-5;
  border-radius: 50%;
}
