@value color-base-1, color-ability-border-selected, color-ability-active from "../values/colours.css";

@value border-radius: 50%;

.ability {
  composes: ability from "../shared/ability.css";
  border-radius: border-radius;
  border: 0.1rem solid color-base-1;
  cursor: pointer;
}
.abilityMasteryActive {
  composes: ability;
  background-color: color-ability-active;
}
.abilityMasterySelected {
  composes: ability;
  background: transparent;
  background-color: transparent;
}
.abilitySelected {
  composes: ability;
  border: 0.2rem solid color-ability-border-selected;
  margin: 0;
}
.image {
  composes: image from "../shared/ability.css";
  border-radius: border-radius;
}
.imageInactive {
  composes: imageInactive from "../shared/ability.css";
  border-radius: border-radius;
}
