.abilityStandardMastery {
  cursor: pointer;
}
.abilityStandard {
  composes: ability from "./Ability.css";
  composes: abilityStandardMastery;
}
.abilityStandardActive {
  composes: abilityMasteryActive from "./Ability.css";
  composes: abilityStandardMastery;
}
.abilityStandardSelected {
  composes: abilityMasterySelected from "./Ability.css";
  composes: abilityStandardMastery;
}
.imageSelected {
  opacity: 1;
}
.imageStandard {
  composes: imageInactive from "./Ability.css";
}
.imageStandardSelected {
  composes: image from "./Ability.css";
  composes: imageSelected;
}
.imageMoraleSelected {
  composes: imageSelected;
}
.imageTacticSelected {
  composes: imageSelected;
}
