@value spacing from "../values/spacing.css";

.container {
  composes: box from "../shared/box.css";
}
.home {
  composes: buttonSecondary from "../shared/button.css";
}
.reset {
  composes: buttonNegative from "../shared/button.css";
  float: right;
  margin-left: spacing;
}
.change {
  composes: buttonSecondary from "../shared/button.css";
  float: right;
  margin-left: spacing;
}
.share {
  composes: buttonPrimary from "../shared/button.css";
  float: right;
  margin-left: spacing;
}
