@value spacing, spacing-medium from "../values/spacing.css";
@value font-size-1, font-size-2 from "../values/fontSizes.css";
@value color-base-0, color-base-3, color-base-6, color-text-primary from "../values/colours.css";

.container {
  composes: box from "../shared/box.css";
}
.home {
  composes: buttonSecondary from "../shared/button.css";
}
.reset {
  composes: buttonNegative from "../shared/button.css";
  float: right;
  margin-left: spacing;
}
.change {
  composes: buttonSecondary from "../shared/button.css";
  float: right;
  margin-left: spacing;
}
.share {
  composes: buttonPrimary from "../shared/button.css";
  float: right;
  margin-left: spacing;
}
.modalTitle {
  composes: headingCareerSmall from "../shared/heading.css";
}
.modalTitleIcon {
  composes: careerIconSmall from "../shared/careerIcon.css";
}
.modalCopy {
  color: color-text-primary;
  font-size: font-size-2;
  margin-bottom: spacing-medium;
  margin-top: spacing-medium;
}
.modalSelectable {
  display: block;
  border: 1px solid color-base-3;
  background-color: color-base-6;
  color: color-base-0;
  padding: spacing;
  /* TODO find fix for calc(100% - (spacing * 2)). Harcoded for now:  */
  width: calc(100% - 2rem);
  text-align: center;
  font-size: font-size-1;
  word-break: break-all;
}
