@value color-renown-dark, color-renown from "../values/colours.css";

.bar {
  composes: bar from "../shared/bar.css";
  background-color: color-renown-dark;
}
.progress {
  composes: barProgress from "../shared/bar.css";
  background-color: color-renown;
}
