@value color-xp-dark, color-xp from "../values/colours.css";

.bar {
  composes: bar from "../shared/bar.css";
  background-color: color-xp-dark;
}
.progress {
  composes: barProgress from "../shared/bar.css";
  background-color: color-xp;
}
