@value font-size-5, font-size-4, base-spacing-small, color-base-5 from "../variables.css";
@value mq-mobile from "../mediaQueries.css";

.CareerTitle {
  display: inline-block;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: font-size-5;
  @media mq-mobile {
    font-size: font-size-4;
  }
}
.CareerTitleSmall {
  composes: CareerTitle;
  font-size: font-size-4;
}

.CareerTitleIcon {
  position: relative;
  top: 0.2rem;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: base-spacing-small;
  @media mq-mobile {
    width: 24px;
    height: 24px;
  }
}
.CareerTitleIconSmall {
  composes: CareerTitleIcon;
  width: 22px;
  height: 22px;
}
.CareerTitleIconSmaller {
  composes: CareerTitleIcon;
  top: 0.4rem;
  width: 20px;
  height: 20px;
}
.CareerTitleIconSmallest {
  composes: CareerTitleIcon;
  top: 0.5rem;
  width: 18px;
  height: 18px;
}
.CareerTitleIconBordered {
  composes: CareerTitleIcon;
  top: 0.4rem;
  border: 2px solid color-base-5;
  border-radius: 50%;
}
