.container {
  composes: row from "../shared/row.css";
}
.title {
  composes: headingCareer from "../shared/headings.css";
}
.icon {
  composes: careerIconBordered from "../shared/careerIcons.css";
}
