@value color-base-1, color-text-primary, color-text-secondary from "../values/colours.css";
@value spacing, spacing-medium, spacing-small from "../values/spacing.css";
@value mq-mobile, mq-sm-min from "../values/mediaQueries.css";
@value font-size-1, font-size-4 from "../values/fontSizes.css";

@value shadow: 2px 2px 8px rgba(0,0,0,0.7);

.masthead {
  position: relative;
  overflow: hidden;
  z-index: 10;
  height: 30rem;
  background: url('/images/home-background.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition: all 500ms ease;
  border-bottom: 1px solid color-base-1;
}
@media mq-mobile {
  .masthead {
    z-index: auto;
    height: 25rem;
  }
}
.mastheadActive {
  composes: masthead;
  height: 70rem;
}
@media mq-sm-min {
  .mastheadActive {
    height: 55rem;
  }
}
.mastheadOverlay {
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.mastheadTitle {
  font-size: 4.8rem;
  text-align: center;
  padding-top: 4rem;
  text-shadow: shadow;
  transition: all 500ms ease;
  color: color-text-primary;
}
@media mq-mobile {
  .mastheadTitle {
    font-size: 4rem;
    margin-right: spacing;
    margin-left: spacing;
  }
}
.mastheadTitleActive {
  composes: mastheadTitle;
  padding-top: 3rem;
}
.mastheadSubtitle {
  color: color-text-primary;
  font-size: 2rem;
  text-align: center;
  text-shadow: shadow;
}
@media mq-mobile {
  .mastheadSubtitle {
    font-size: 1.6rem;
  }
}
.mastheadCta {
  opacity: 1;
  transition: all 500ms ease;
  text-align: center;
  margin-top: spacing-medium;
}
.mastheadCtaActive {
  composes: mastheadCta;
  opacity: 0;
  margin-top: -10rem;
}
.mastheadCtaButton {
  composes: buttonSecondaryInverseLarge from "../shared/button.css";
}
.mastheadFooter {
  opacity: 0;
  transition: all 500ms ease;
  position: absolute;
  bottom: spacing;
  right: spacing;
  color: color-text-secondary;
  font-size: font-size-1;
  text-decoration: none;
}
.mastheadFooterActive {
  composes: mastheadFooter;
  opacity: 1;
}
.careers {
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
}
.careersContainer {
  flex-grow: 0;
  flex-basis: 40%;
  opacity: 0;
  padding: spacing-medium;
  transition: all 500ms ease;
  background-color: rgba(0,0,0,0.5);
  font-weight: 200;
}
.careersContainerActive {
  composes: careersContainer;
  opacity: 1;
}
.careersContainerRight {
  composes: careersContainer;
  margin-right: -90rem;
}
.careersContainerRightActive {
  composes: careersContainerActive;
  composes: careersContainerRight;
  margin-right: 0;
}
.careersContainerLeft {
  composes: careersContainer;
  margin-left: -90rem;
}
.careersContainerLeftActive {
  composes: careersContainerActive;
  composes: careersContainerLeft;
  margin-left: 0;
}
.careersTitle {
  font-size: font-size-4;
  font-weight: 400;
  margin-bottom: spacing;
  color: color-text-secondary;
}
.careersItem {
  margin-bottom: spacing-small;
}
.careersFaction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media mq-sm-min {
  .careersFaction {
    flex-direction: row;
  }
}
.careersRace {
  flex-basis: auto;
  margin-bottom: spacing-medium;
  flex-grow: 1;
}
@media mq-sm-min {
  .careersRace {
    flex-basis: 50%;
  }
}
.careersRaceTitle {
  composes: heading2Light from "../shared/heading.css";
  margin-bottom: 0;
}
.careersRaceIcon {
  composes: careerIconSmaller from "../shared/careerIcon.css";
}
