@value color-base-4, color-base-5 from "../values/colours.css";
@value spacing from "../values/spacing.css";
@value mq-mobile, mq-md-min from "../values/mediaQueries.css";

.modal {
  display: none;
}
.modalVisible {
  display: block;
}
.container {
  position: fixed;
  z-index: 10;
  width: 50%;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: color-base-4;
  border: 1px solid color-base-5;
}
@media mq-mobile {
  .container {
    width: 80%;
  }
}
@media mq-md-min {
  .container {
    width: 40%;
  }
}
.content {
  margin-bottom: spacing;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
.close {
  composes: buttonSecondary from "../shared/button.css";
}
