@value spacing-medium from "../values/spacing.css";
@value font-size-1, font-size-2 from "../values/fontSizes.css";
@value color-base-0, color-base-3, color-base-6, color-text-primary from "../values/colours.css";

/* Can't use 'spacing' (yet!) because this: https://github.com/css-modules/postcss-modules-values/issues/5 */
@value modalSelectablePadding: 1rem;

.modalTitle {
  composes: headingCareerSmall from "../shared/heading.css";
}
.modalTitleIcon {
  composes: careerIconSmall from "../shared/careerIcon.css";
}
.modalCopy {
  color: color-text-primary;
  font-size: font-size-2;
  margin-bottom: spacing-medium;
  margin-top: spacing-medium;
}
.modalSelectable {
  display: block;
  border: 1px solid color-base-3;
  background-color: color-base-6;
  color: color-base-0;
  padding-top: modalSelectablePadding;
  padding-right: modalSelectablePadding;
  padding-bottom: modalSelectablePadding;
  padding-left: modalSelectablePadding;
  width: calc(100% - (modalSelectablePadding * 2));
  text-align: center;
  font-size: font-size-1;
  word-break: break-all;
}