@value spacing, spacing-small from "../values/spacing.css";
@value color-text-secondary from "../values/colours.css";
@value font-size-1 from "../values/fontSizes.css";
@value mq-md-min from "../values/mediaQueries.css";

.container {
  composes: box from "../shared/box.css";
}
.heading {
  composes: heading1Light from "../shared/heading.css";
}
.item {
  display: flex;
  align-items: flex-start;
  margin-bottom: spacing;
  color: color-text-secondary;
  font-size: font-size-1;
  font-weight: 300;
  flex-wrap: wrap;
}
@media mq-md-min {
  .item {
    flex-wrap: nowrap;
  }
}
.itemIcon {
  padding-right: spacing-small;
}
.itemDate {
  width: 7rem;
  flex-shrink: 0;
  font-weight: bold;
}
.itemText {
  width: 100%;
  margin-top: spacing-small;
  padding-left: 1.3rem;
  a {
    color: color-text-secondary;
    &:hover {
      text-decoration: none;
    }
  }
}
@media mq-md-min {
  .itemText {
    width: auto;
    margin-top: 0;
    padding-left: 0;
  }
}
