@value color-base-1, color-points, color-points-dark from "../values/colours.css";
@value points-available: #8a4141;

.meter {
  display: flex;
  flex-direction: column-reverse;
  width: 5rem;
  background-color: color-base-1;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
}
.level {
  height: 1.6rem;
  line-height: 1.6rem;
  border: 1px solid color-points-dark;
  text-align: center;
  background-color: color-points-dark;
  margin-bottom: 0.2rem;
  color: rgba(0, 0, 0, 0.4);
  font-size: font-size-small;
}
.levelActive {
  composes: level;
  background-color: color-points;
  border: 1px solid color-points;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.levelAvailable {
  composes: level;
  border: 1px solid points-available;
  background-color: points-available;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}