.button {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  composes: buttonSecondary from "../shared/button.css";
  width: 2.8rem;
  height: 2rem;
}
.buttonDisabled {
  composes: buttonDisabled from "../shared/button.css";
}