@value spacing from "../values/spacing.css";

.popverButton {
  float: right;
  margin-left: spacing;
}
.actionRemove {
  composes: buttonNegative from "../shared/button.css";
  composes: popverButton;
}
.actionAdd {
  composes: buttonPrimary from "../shared/button.css";
  composes: popverButton;
}
.close {
  composes: buttonSecondary from "../shared/button.css";
  float: right;
}
