@import '../variables.css';

.progress {
  position: relative;
}
.progressRenown {
  composes: progress;
  background-color: $color-renown-dark;
}
.progressXp {
  composes: progress;
  background-color: $color-xp-dark;
}
.bar {
  position: relative;
  height: 1rem;
  width: 1%;
  transition: width .3s ease;
}
.barXp {
  composes: bar;
  background-color: $color-xp;
}
.barRenown {
  composes: bar;
  height: 0.7rem;
  background-color: $color-renown;
}
