@value color-base-0, color-base-1, color-base-2, color-base-5, color-text-secondary from "../values/colours.css";
@value spacing-small from "../values/spacing.css";
@value font-size-1 from "../values/fontSizes.css";
@value width-sidebar from "../values/widths.css";

@value width-sidebar-border: 0.2rem;

.container {
  z-index: 10;
  transition: all 500ms ease;
  position: fixed;
  top: 0;
  /* Have to hard code this because can't use values with Calc just yet */
  left: -25rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: color-base-1;
  border-right: width-sidebar-border solid color-base-5;
}
.containerActive {
  composes: container;
  transform: translateX(width-sidebar);
}
.content {
  width: calc(width-sidebar - width-sidebar-border);
}
.item {
  display: flex;
  height: 3rem;
  padding-left: 0.3rem;
  align-items: center;
  transition: background .1s ease;
  color: color-text-secondary;
  
  text-decoration: none;
  font-size: font-size-1;
  border-bottom: 1px solid color-base-0;
  font-weight: 300;
}
.item:hover {
  background: color-base-2;
  color: color-text-secondary;
}
.icon {
  composes: careerIconSmallest from "../shared/careerIcon.css";
  position: relative;
  top: 0.5rem;
}
