@value color-text-primary from "./values/colours.css";

:global {
  .icon {
    width: 16px;
    height: 16px;
    fill: color-text-primary;
    &--small {
      width: 8px;
      height: 8px;
    }
  }
}
