@value spacing, spacing-extra-small, spacing-small, spacing-medium, spacing-large, spacing-extra-large from "./values/spacing.css";
@value mq-mobile, mq-xs, mq-sm, mq-sm-min, mq-md, mq-md-min, mq-lg from "./values/mediaQueries.css";

:global {
  .marginBottom {
    margin-bottom: spacing;
    &--extra-small {
      margin-bottom: spacing-extra-small;
    }
    &--small {
      margin-bottom: spacing-small;
    }
    &--medium {
      margin-bottom: spacing-medium;
    }
    &--large {
      margin-bottom: spacing-large;
    }
    &--extra-large {
      margin-bottom: spacing-extra-large;
    }
    &--none {
      margin-bottom: 0;
      &\@mobile {
        @media mq-mobile {
          margin-bottom: 0;
        }
      }
      &\@xs {
        @media mq-xs {
          margin-bottom: 0;
        }
      }
      &\@sm {
        @media mq-sm {
          margin-bottom: 0;
        }
      }
      &\@sm-min {
        @media mq-sm-min {
          margin-bottom: 0;
        }
      }
      &\@md {
        @media mq-md {
          margin-bottom: 0;
        }
      }
      &\@md-min {
        @media mq-md-min {
          margin-bottom: 0;
        }
      }
      &\@lg {
        @media mq-lg {
          margin-bottom: 0;
        }
      }
    }
  }
}
