@value mq-mobile from "./values/mediaQueries.css";
@value color-text-primary, color-popover-background from "./values/colours.css";

@value width-popover: 35rem;
/* Following two rules must match corresponding values in Popover.js
* Distance of popover from parent */
@value spacing-popover: 0.5rem;
@value arrow-size: 1rem;

:global {
  .popover {
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 100;
    width: width-popover;
    padding: 1rem;
    background-color: color-popover-background;
    color: color-text-primary;
    border-radius: 0.4rem;
    opacity: 0;
    transition: opacity .2s linear;
    @media mq-mobile {
      position: fixed;
      width: calc(100% - 2rem);
      top: 1rem !important;
      left: 1rem !important;
      bottom: auto !important;
      right: auto !important;
    }
  }
  .popover--active {
    display: block;
    &.popover--fade {
      opacity: 1;
    }
  }
  .popover__parent {
    position: relative;
    @media mq-mobile {
      position: static;
    }
  }
  .popover__footer {
    display: none;
    @media mq-mobile {
      display: block;
    }
  }
  /* popover position coordinates
  * top and bottom alignment requires JS help for 'top'/'bottom' property */
  .popover--top,
  .popover--bottom {
    left: calc(50% - (width-popover / 2));
  }
  .popover--right {
    right: calc(- width-popover - spacing-popover - arrow-size);
  }

  .popover--left {
    left: calc(- width-popover - spacing-popover - arrow-size);
  }
  .popover--top:before {
    border-left: arrow-size solid transparent;
    border-right: arrow-size solid transparent;
    border-top: arrow-size solid color-popover-background;
    bottom: calc(- arrow-size);
    left: calc(50% - arrow-size);
  }
  .popover--bottom:before {
    border-left: arrow-size solid transparent;
    border-right: arrow-size solid transparent;
    border-bottom: arrow-size solid color-popover-background;
    top: calc(- arrow-size);
    left: calc(50% - arrow-size);
  }
  .popover--left:before {
    border-top: arrow-size solid transparent;
    border-bottom: arrow-size solid transparent;
    border-left: arrow-size solid color-popover-background;
    top: calc(50% - arrow-size);
    right: calc(- arrow-size);
  }
  .popover--right:before {
    border-top: arrow-size solid transparent;
    border-bottom: arrow-size solid transparent;
    border-right: arrow-size solid color-popover-background;
    top: calc(50% - arrow-size);
    left: calc(- arrow-size);
  }
  /* "arrow" (i.e. .popover__arrow) coordinates */
  .popover:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    @media mq-mobile {
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      border-left: 0;
    }
  }
}
