.c-button {
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.c-button--primary {
  @include raised-effect($color-primary-light, $color-primary);
  &:hover, &:active, &:focus {
    background: linear-gradient($color-primary-lighter, $color-primary);
  }
}

.c-button--secondary {
  @include raised-effect($color-secondary-light, $color-secondary);
  &:hover, &:active, &:focus {
    background: linear-gradient($color-secondary-lighter, $color-secondary);
  }
}

.c-button--tertiary {
  @include raised-effect($color-tertiary-light, $color-tertiary);
  &:hover, &:active, &:focus {
    background: linear-gradient($color-tertiary-lighter, $color-tertiary);
  }
}

.c-button--small {
  font-size: 70%;
}