.c-page-title {
  margin-top: 0;
  margin-bottom: $base-spacing * 2;
  &--compact {
    margin-bottom: $base-spacing; 
  }
}

.c-box {
  padding: $base-spacing;
  background-color: $color-base-3;
  &--no-padding-right {
    padding-right: 0;
  }
}

.c-masthead {

  $font-size-masthead-heading: 4.8rem;
  $font-size-masthead-heading-mobile: 4rem;
  $font-size-masthead-subheading: 2rem;
  $font-size-masthead-subheading-mobile: 1.6rem;

  position: relative;
  overflow: hidden;
  z-index: 10;
  height: ($base-spacing * 30);
  background: url('/images/home-background.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition: $base-transition;
  border-bottom: 1px solid $color-text-secondary;
  @media screen and (max-width: $breakpoint-mobile) {
    z-index: auto;
  }
  &__overlay {
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  &__heading {
    font-size: $font-size-masthead-heading;
    text-align: center;
    padding-top: ($base-spacing * 5);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    transition: $base-transition;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: $font-size-masthead-heading-mobile;
    }
  }
  &__subheading {
    font-size: $font-size-masthead-subheading;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: $font-size-masthead-subheading-mobile;
    }
  }
  &__cta {
    opacity: 1;
    transition: $base-transition;
    text-align: center;
    &--mobile {
      display: none;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
      &--mobile {
        display: block;
      }
    }
  }
  &__footer {
    opacity: 0;
    transition: $base-transition;
    position: absolute;
    bottom: $base-spacing;
    right: $base-spacing;
    color: $color-text-secondary;
    font-size: $font-size-breadcrumb;
    text-decoration: none;
  }
  &--active {
    height: ($base-spacing * 70);
    @media screen and (min-width: $breakpoint-sm) {
      height: ($base-spacing * 55);
    }
  }
  &--active &__heading {
    padding-top: ($base-spacing * 3);
  }
  &--active &__cta {
    opacity: 0;
    margin-top: ($base-spacing * -10);
  }
  &--active &__footer {
    opacity: 1;
  }
}

.c-career {

  $font-size-career-heading: 2.4rem;
  $font-size-career-subheading: 1.8rem;

  margin-top: 8rem;
  display: flex;
  justify-content: space-around;

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media screen and (min-width: $breakpoint-sm) {
      flex-direction: row;
    }
  }

  &__item {
    flex-grow: 0;
    flex-basis: 40%;
    opacity: 0;
    padding: ($base-spacing * 2);
    transition: $base-transition;
    background-color: rgba(0,0,0,0.5);
    font-weight: 200;
    &--left {
      margin-left: ($base-spacing * -90);
    }
    &--right {
      margin-right: ($base-spacing * -90);
    }
  }
  &__heading {
    font-size: $font-size-career-heading;
    font-weight: 400;
  }
  &__subheading {
    font-size: $font-size-career-subheading;
    font-weight: 400;
  }
  &__list {
    flex-basis: auto;
    margin-bottom: ($base-spacing * 2);
    flex-grow: 1;
    @media screen and (min-width: $breakpoint-sm) {
      flex-basis: 50%;
    }
    &__item {
      display: inline-block;
      font-size: $font-size-breadcrumb;
      color: $color-text-secondary;
      text-decoration: none;
      margin-bottom: ($base-spacing / 4);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &--active &__item {
    opacity: 1;
  }
  &--active &__item--left {
    margin-left: 0;
  }
  &--active &__item--right {
    margin-right: 0;
  }
}

.c-list {
  &__heading {
    font-size: $font-size-h2;
    margin-bottom: ($base-spacing);
  }
  &__item {
    margin-top: 0;
    margin-bottom: ($base-spacing);
    padding-left: $base-spacing;
    font-weight: 300;
    &__title {
      font-weight: 400;
    }
  }
}

.c-label {
  position: relative;
  top: -$label-padding;
  display: inline-block;
  color: $color-base-0;
  font-size: 1.6rem;
  padding: $label-padding $label-padding * 2;
  background-color: $color-base-6;
  &--points {
    background-color: $color-points;
    color: $color-text-primary;
  }
}

.c-input {
  &--read-only {
    display: block;
    border: 1px solid $color-base-6;
    background-color: $color-base-5;
    color: $color-base-0;
    padding: $base-spacing;
    width: calc(100% - #{$base-spacing * 2});
    text-align: center;
    font-size: 1.2rem;
    word-break: break-all;
  }
}