@import 'vars';
@import 'mixins';
@import 'buttons';

html, 
button, 
input, 
select, 
textarea,
.pure-g [class *= "pure-u"] {
  font-family: $base-font-family;
}

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
}

#app {
  transition: $base-transition;
  height: 100%;
}

.l-page {
  height: 100%;
}

h1 {
  color: $color-text-primary;
  font-size: $font-size-h1;
}

h2 {
  color: $color-text-secondary;
  font-size: $font-size-h2;
}

h3 {
  color: $color-text-tertiary;
  font-size: $font-size-h3;
}

h4 {
  color: $color-text-tertiary;
  font-size: $font-size-h4;
  font-weight: normal;
}

p {
  font-size: 1.4rem;
}

.l-page-title {
  margin-top: 0;
  margin-bottom: $base-spacing * 2;
  &--compact {
    margin-bottom: $base-spacing; 
  }
  &--dark {
    color: $color-base-text;
  }
}

.l-wrapper {
  padding: $base-spacing;
}

.l-box {
  padding: $base-spacing;
  border-radius: $border-radius-base;
  box-shadow: 0 1px 2px 0 $color-base-border;
  border: 1px solid $color-base-border;
  background-color: $color-base-background;
  &--inverse {
    background-color: $color-base-background-inverse;
  }
  &--no-padding-right {
    padding-right: 0;
  }
}

.l-spacing-top {
  margin-top: $base-spacing;
  &--large {
    margin-top: $base-spacing * 2;
  }
}

.l-spacing-right {
  margin-right: $base-spacing;
  &--small {
    margin-right: $base-spacing / 2;
  }
  &--tiny {
    margin-right: 2px;
  }
}

.l-spacing-bottom {
  margin-bottom: $base-spacing;
  &--large {
    margin-bottom: $base-spacing * 2;
  }
  &--small {
    margin-bottom: $base-spacing / 2;
  }
  &--tiny {
    margin-bottom: $base-spacing / 10;
  }
}

.l-spacing-left {
  margin-left: $base-spacing;
  &--small {
    margin-left: $base-spacing / 2;
  }
}

.l-border-right {
  border-right: 1px solid $color-base-border;
}

.l-row {
  display: flex;
  flex-wrap: wrap;
  &--justify {
    justify-content: space-between;
  }
  &--right {
    justify-content: flex-end;
  }
  &--right &__item {
    &--align-opposite {
      margin-right: auto;
    }
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--centred {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

.l-column {
  display: flex;
  flex-direction: column;
}

.l-title,
.l-select {
  height: 3.2rem;
}

.l-page-content {
  height: 100%;
  background-color: #2d2d2d;
  color: $color-text-content-primary;
}

.l-page-container {
  width: 950px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3c3c3c;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
}

.l-page-copy {
  position: relative;
  z-index: 20;
  font-weight: 300;
  color: $color-text-content-primary;

  p {
    margin-top: 0;
    margin-bottom: ($base-spacing * 1.5);
  }

  &__link {
    
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-text-content-primary;
      text-decoration: underline;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.c-label {
  position: relative;
  top: -$label-padding;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  padding: $label-padding $label-padding * 2;
  border-radius: $border-radius-base;
  background-color: $color-text-tertiary;
  &--points {
    background-color: $color-points;
  }
}

.c-input {
  &--read-only {
    display: block;
    border: 1px solid $color-primary;
    border-radius: $border-radius-base;
    padding: $base-spacing;
    width: calc(100% - #{$base-spacing * 2});
    text-align: center;
    font-size: 1.2rem;
    word-break: break-all;
  }
}
