.u-hidden {
  display: none;
  &--mobile {
    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
}

.u-height {
  height: 100%;
}

.u-margin {
  &__top {
    margin-top: $base-spacing;
    &-sm {
      @media screen and (min-width: $breakpoint-sm) {
        margin-top: $base-spacing;
        &--none {
          margin-top: 0;
        }
      }
    }
    &--large {
      margin-top: $base-spacing * 2;
    }
  }
  &__right {
    margin-right: $base-spacing;
    &-mobile {
      @media screen and (max-width: $breakpoint-mobile) {
        margin-right: $base-spacing;
      }
    }
    &--small {
      margin-right: $base-spacing / 2;
    }
    &--tiny {
      margin-right: 2px;
    }
  }
  &__bottom {
    margin-bottom: $base-spacing;
    &--large {
      margin-bottom: $base-spacing * 2;
    }
    &--small {
      margin-bottom: $base-spacing / 2;
    }
    &--tiny {
      margin-bottom: $base-spacing / 10;
    }
  }
  &__left {
    margin-left: $base-spacing;
    &--small {
      margin-left: $base-spacing / 2;
    }
    &-sm {
      @media screen and (min-width: $breakpoint-sm) {
        margin-left: $base-spacing;
      }
    }
    &-md {
      @media screen and (min-width: $breakpoint-md) {
        margin-left: $base-spacing;
      }
    }
    &-mobile {
      @media screen and (max-width: $breakpoint-mobile) {
        margin-left: $base-spacing;
      }
    }
  }
}

.u-border {
  &__right {
    border-right: 1px solid $color-base-border;
    &-sm {
      @media screen and (min-width: $breakpoint-sm) {
        border-right: 1px solid $color-base-border;
        &--none {
          border-right: 0;
        }
      }
    }
    &-mobile {
      @media screen and (max-width: $breakpoint-mobile) {
        border-right: 1px solid $color-base-border;
        &--none {
          border-right: 0;
        }
      }
    }
  }
}

.u-display {
  &__block {
    display: block;
    &-mobile {
      @media screen and (max-width: $breakpoint-mobile) {
        display: block;
      }
    }  
  }
}

.u-float {
  &__right {
    float: right;
  }
}

.u-title-height {
  height: 3.2rem;
}

