$base-font-family: 'Roboto', sans-serif;

$base-font-size: 10px;

$font-size-h1: 2.8rem;
$font-size-h2: 2.2rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.4rem;

$font-size-breadcrumb: 1.2rem;

$base-spacing: 1rem;

$border-radius-base: 0.3rem;
$border-radius-meter: 0.2rem;
$border-radius-ability: 0.3rem;
$border-radius-ability-morale: 50%;

$color-base-0: #2d2d2d;
$color-base-1: #3a3a3a;
$color-base-2: #444444;
$color-base-3: #505050;
$color-base-4: #989898;
$color-base-border: $color-base-0;
$color-base-border-light: $color-base-4;
$color-text-primary: #f3f4f5;
$color-text-secondary: #dedede;
$color-inactive: #666666;
$color-primary: #0078e7;
$color-primary-light: #3c95e7;
$color-primary-lighter: #42abf8;
$color-secondary: #42b8dd;
$color-secondary-light: #60c7e8;
$color-secondary-lighter: #89def9;
$color-tertiary: #b2b1b1;
$color-tertiary-light: #cacaca;
$color-tertiary-lighter: #e6e6e6;
$color-negative: #ca3c3c;
$color-negative-light: #d55353;
$color-negative-lighter: #e47373;
$color-positive: #3f9c11;
$color-positive-light: #54b622;
$color-positive-lighter: #73c64a;
$color-xp: #fbbd08;
$color-xp-light: #ffd96c;
$color-xp-dark: #715607;
$color-renown: #a333c8;
$color-renown-light: #c695d6;
$color-renown-dark: #5D3769;
$color-points: #db2828;
$color-points-light: #ff5c69;
$color-ability-border: $color-base-1;
$color-ability-border-selected: #5cda36;
$color-ability-inactive: #ecb3b3;
$color-ability-active: #90d28b;
$color-overlay: rgba(0, 0, 0, 0.6);
$color-overlay-invisible: rgba(0, 0, 0, 0);

$label-padding: 0.3rem;

$ability-width: 36px;
$ability-height: 36px;
$ability-width-popover: 50px;
$ability-height-popover: 50px;
$ability-opacity-inactive: 0.2;
$ability-opacity-active: 1;

$base-transition: all 500ms ease;

$breakpoint-mobile: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

