$base-font-family: 'Roboto', sans-serif;
$base-text-color: #444;
$base-spacing: 1rem;
$base-background-color: #fff;
$base-background-color-inverse: #f3f4f5;

$primary-text-color: #444;
$secondary-text-color: #666;
$tertiary-text-color: #999;

$font-size-h1: 2rem;
$font-size-h2: 1.4rem;
$font-size-h3: 1.2rem;
$font-size-h4: 1rem;

$base-border-color: rgba(34,36,38,.15);
$base-border-radius: 0.3rem;

$color-primary: #088ef0;
$color-primary-light: #34a5f8;
$color-primary-lighter: #42abf8;
$color-xp: #fbbd08;
$color-xp-light: #ffd96c;
$color-renown: #a333c8;
$color-renown-light: #c695d6;
$color-meter-background: #dbdcdd;
$color-points: #db2828;
$color-points-light: #ff5c69;