$base-font-family: 'Roboto', sans-serif;

$base-font-size: 10px;

$font-size-h1: 2.8rem;
$font-size-h2: 2.2rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.4rem;

$font-size-breadcrumb: 1.2rem;

$base-spacing: 1rem;

$border-radius-base: 0.3rem;
$border-radius-meter: 0.2rem;
$border-radius-ability: 0.3rem;
$border-radius-ability-morale: 50%;

$color-base-0: #242728;
$color-base-1: #2e3233;
$color-base-2: #393e3f;
$color-base-3: #444444;
$color-base-4: #535a5e;
$color-base-5: #666666;
$color-base-6: #989898;

$color-text-primary: #f3f4f5;
$color-text-secondary: #dedede;
$color-primary: #57805e;
$color-primary-1: #5cb85c;
$color-primary-2: #599c5c;
$color-secondary: #304f68;
$color-secondary-1: #337ab7;
$color-secondary-2: #31648f;
$color-negative: #a03537;
$color-negative-1: #d9534f;
$color-negative-2: #b15553;
$color-xp: #fbbd08;
$color-xp-light: #ffd96c;
$color-xp-dark: #715607;
$color-renown: #a333c8;
$color-renown-light: #c695d6;
$color-renown-dark: #5D3769;
$color-points: #db2828;
$color-points-light: #ff5c69;
$color-points-dark: #5A3B3B;
$color-ability-border: $color-base-1;
$color-ability-border-selected: #5cda36;
$color-ability-inactive: #ecb3b3;
$color-ability-active: #90d28b;
$color-ability-secondary: #0078e7;
$color-overlay: rgba(0, 0, 0, 0.6);
$color-overlay-invisible: rgba(0, 0, 0, 0);

$label-padding: 0.3rem;

$ability-width: 36px;
$ability-height: 36px;
$ability-width-popover: 50px;
$ability-height-popover: 50px;
$ability-opacity-inactive: 0.2;
$ability-opacity-active: 1;

$base-transition: all 500ms ease;

$breakpoint-mobile: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
