@import 'vars';

$activeColour: #90d28b;
$inactiveColour: #ecb3b3;
$borderColour: #999;

.ability {
  margin: 1px;
  width: 40px;
  height: 40px;
}
.ability--standard {
  border-radius: 4px;
  border: 1px solid $borderColour;
}
.ability--morale {
  border-radius: 50%;
  border: 1px solid $borderColour;
}
.ability--morale .ability__image {
  border-radius: 50%;
}
.ability--tactic {
	background: url('/images/tactic-border.png') no-repeat 0 0;
	background-size: cover;
}
.ability--tomeTactic {

}
.ability__image {
  display: block;
  width: 40px;
  height: 40px;
}
.ability--inactive .ability__image {
  opacity: 0.2;
}
.ability--standard .ability__image {
  border-radius: 4px;
}
.ability--optional {
  cursor: pointer;
}
.ability--optional.is-selected {
  border: 1px solid orange;
}

/* The following are styles for optional meter abilities */
.ability--mastery.ability--inactive {
	background-color: $inactiveColour;
}
.ability--mastery.ability--inactive.ability--tactic {
	background: url('/images/optional-tactic-inactive.png') no-repeat 0 0;
	background-size: cover;
}
.ability--mastery.ability--active {
	background-color: $activeColour; 
}
.ability--mastery.ability--active.ability--tactic {
	background: url('/images/optional-tactic-active.png') no-repeat 0 0;
	background-size: cover;
}
.ability--mastery.ability--active .ability__image {
  opacity: 0.2;
}
.ability--mastery.ability--active.is-selected {
  background-color: transparent;
}
.ability--mastery.ability--active.is-selected .ability__image {
  opacity: 1;
}

/* Styling over Ability Popover content */
.c-ability-pop {
  &__item {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
    &--right {
      text-align: right;
    }
    &--large {
      font-size: 1rem; 
    }
    &--primary {
      color: $color-xp;
    }
    &--secondary {
      color: $color-primary; 
    }
  }
  &__divider {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
  }
}
.l-popover-spacing-bottom {
  margin-bottom: 3px;
  &--large {
    margin-bottom: 6px;
  }
}
