@import 'vars';

.c-ability {
  margin: 1px;
  width: $ability-width;
  height: $ability-height;
}

.c-ability__image {
  display: block;
  width: $ability-width;
  height: $ability-height;
}

.c-ability--standard {
  border-radius: $border-radius-ability;
  border: 1px solid $color-ability-border;
  .c-ability__image {
    //border-radius: $border-radius-ability;
  }
}

.c-ability--morale {
  border-radius: $border-radius-ability-morale;
  border: 1px solid $color-ability-border;
  .c-ability__image {
    border-radius: $border-radius-ability-morale;
  }
}

.c-ability--tactic {
	background: url('/images/tactic-border.svg') no-repeat 0 0;
	background-size: cover;
}

.c-ability--inactive .c-ability__image {
  opacity: $ability-opacity-inactive;
}

.c-ability--optional.c-ability--active {
  cursor: pointer;
}

/* Core morales */
.c-ability--morale:not(.c-ability--mastery).c-ability--active {
  background-color: $color-ability-active;
  .c-ability__image {
    opacity: $ability-opacity-inactive;
  }
  &.is-selected {
    background-color: transparent;
   .c-ability__image {
      opacity: $ability-opacity-active;
    }
  }
}

/* Core tactics */
.c-ability--tactic:not(.c-ability--mastery).c-ability--active {
  background: url('/images/optional-tactic-active.svg') no-repeat 0 0;
  background-size: cover;
  .c-ability__image {
    opacity: $ability-opacity-inactive;
  }
  &.is-selected {
    background: transparent;
   .c-ability__image {
      opacity: $ability-opacity-active;
    }
  }
}

/* The following are styles for optional meter abilities */
.c-ability--mastery.c-ability--active {
	background-color: $color-ability-active;
  .c-ability__image {
    opacity: $ability-opacity-inactive;
  }
  &.is-selected {
    background: transparent;
    background-color: transparent;
    .c-ability__image {
      opacity: $ability-opacity-active;  
    }
  }
}
.c-ability--mastery.c-ability--active.c-ability--tactic {
	background: url('/images/optional-tactic-active.svg') no-repeat 0 0;
	background-size: cover;
}

/* Styling over Ability Popover content */
.c-ability-pop {
  &__item {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
    &--right {
      text-align: right;
    }
    &--large {
      font-size: 1.4rem; 
    }
    &--primary {
      color: $color-xp;
    }
    &--secondary {
      color: $color-primary; 
    }
  }
  &__divider {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
  }
}
.l-popover-spacing-bottom {
  margin-bottom: 3px;
  &--large {
    margin-bottom: 6px;
  }
}
