$activeColour: #90d28b;
$inactiveColour: #ecb3b3;
$borderColour: #999;

.ability {
  margin: 1px;
  width: 42px;
  height: 42px;
}
.ability--standard {
  border-radius: 4px;
  border: 1px solid $borderColour;
}
.ability--morale {
  border-radius: 50%;
  border: 1px solid $borderColour;
}
.ability--morale .ability__image {
  border-radius: 50%;
}
.ability--tactic {
	background: url('/images/tactic-border.png') no-repeat 0 0;
	background-size: cover;
}
.ability--tomeTactic {

}
.ability__image {
  display: block;
  width: 40px;
  height: 40px;
}
.ability--inactive .ability__image {
  opacity: 0.2;
}
.ability--standard .ability__image {
  border-radius: 4px;
}
.ability--optional {
  cursor: pointer;
}
.ability--optional.is-selected {
  border: 1px solid orange;
}

/* The following are styles for optional meter abilities */
.path__optional__abilities .ability--optional.ability--inactive {
	background-color: $inactiveColour;
}
.path__optional__abilities .ability--optional.ability--inactive.ability--tactic {
	background: url('/images/optional-tactic-inactive.png') no-repeat 0 0;
	background-size: cover;
}
.path__optional__abilities .ability--optional.ability--active {
	background-color: $activeColour; 
}
.path__optional__abilities .ability--optional.ability--active.ability--tactic {
	background: url('/images/optional-tactic-active.png') no-repeat 0 0;
	background-size: cover;
}
.path__optional__abilities .ability--optional.ability--active .ability__image {
  opacity: 0.2;
}
.path__optional__abilities .ability--optional.ability--active.is-selected {
  background-color: transparent;
}
.path__optional__abilities .ability--optional.ability--active.is-selected .ability__image {
  opacity: 1;
}

.abilityContent p {
  margin-bottom: 3px;
  float: none;
}
.abilityContent .split {
  overflow: hidden;
}
.abilityContent .split.divider {
  border-bottom: 1px solid white;
  margin-bottom: 3px;
}
.abilityContent .split.last {
  margin-bottom: 6px;
}
.abilityContent .split >:first-child {
  float: left;
  width: 50%;
}
.abilityContent .split >:last-child {
  float: right;
  text-align: right;
  width: 50%;
}
.abilityContent__name {
  color: #fbbd08;
}
.abilityContent__note {
  color: #2185d0;
  margin-bottom: 6px;
}
.abilityContent__type {
  color: #fbbd08;
}
.abilityContent__description {
  color: #fbbd08;
}
