@import 'vars';

.c-breadcrumb {
  display: inline-block;
  margin-bottom: 0;
  font-size: $font-size-breadcrumb;
  &--active {
    font-weight: bold;
  }
  &__divider {
    display: inline-block;
    padding: 0 0.3rem;
  }
  &__link {
    color: $color-base-text;
    &:hover {
      text-decoration: none;
    }
  }
}
