@import 'vars';
@import 'mixins';
@import 'buttons';

html, 
button, 
input, 
select, 
textarea,
.pure-g [class *= "pure-u"] {
  color: $color-base-text;
  font-family: $base-font-family;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}

#app {
  height: 100%;
  transition: $global-transition;
}

h1 {
  color: $color-text-primary;
  font-size: $font-size-h1;
}

h2 {
  color: $color-text-secondary;
  font-size: $font-size-h2;
}

h3 {
  color: $color-text-tertiary;
  font-size: $font-size-h3;
}

h4 {
  color: $color-text-tertiary;
  font-size: $font-size-h4;
  font-weight: normal;
}

.l-page-title {
  margin-top: 0;
  margin-bottom: $base-spacing * 2;
  &--compact {
    margin-bottom: $base-spacing; 
  }
}

.l-wrapper {
  margin: $base-spacing;
}

.l-box {
  padding: $base-spacing;
  border-radius: $border-radius-base;
  box-shadow: 0 1px 2px 0 $color-base-border;
  border: 1px solid $color-base-border;
  background-color: $color-base-background;
  &--inverse {
    background-color: $color-base-background-inverse;
  }
  &--no-padding-right {
    padding-right: 0;
  }
}

.l-spacing-right {
  margin-right: $base-spacing;
  &--small {
    margin-right: $base-spacing / 2;
  }
  &--tiny {
    margin-right: 2px;
  }
}

.l-spacing-bottom {
  margin-bottom: $base-spacing;
  &--large {
    margin-bottom: $base-spacing * 2;
  }
  &--small {
    margin-bottom: $base-spacing / 2;
  }
}

.l-spacing-left {
  margin-left: $base-spacing;
  &--small {
    margin-left: $base-spacing / 2;
  }
}

.l-border-right {
  border-right: 1px solid $color-base-border;
}

.l-row {
  display: flex;
  flex-wrap: wrap;
  &--justify {
    justify-content: space-between;
  }
  &--right {
    justify-content: flex-end;
  }
}

.l-column {
  display: flex;
  flex-direction: column;
}

.l-title,
.l-select {
  height: 2.5rem;
}

.c-label {
  position: relative;
  top: -$label-padding;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  padding: $label-padding $label-padding * 2;
  border-radius: $border-radius-base;
  background-color: $color-text-tertiary;
  &--points {
    background-color: $color-points;
  }
}

.c-input {
  &--read-only {
    display: block;
    border: 1px solid $color-primary;
    border-radius: $border-radius-base;
    padding: $base-spacing / 2;
    height: 1.5rem;
    width: calc(100% - #{$base-spacing});
    text-align: center;
    font-size: 0.9rem;
  }
}
