.wrapper {
  padding: 20px;
}
#classIcon {
  width: 28px;
  height: 28px;
  margin-top: -5px;
  margin-right: 5px;
}
#breadcrumb {
  margin-bottom: 1em;
}
#xpBar {
  margin-bottom: 1em;
}
#renownBar {
  margin-bottom: 0;
}

/* Semantic UI overrides */
.ui.selection.dropdown {
  min-width: 0;
}
.ui.segment {
  
}
.ui.popup {
  max-width: none;
}
.ui.header.subHeader {
  color: #666666;
}
