.l-core-morales {
 	display: flex;
}
.c-morale {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	border-right: 1px solid #dedede;
	padding-left: 5px;
}
.c-morale--1 {
  padding-left: 0;
}
.c-morale--4 {
 	border-right: none;
}
.c-morale__title {
  margin-top: 0;
  margin-bottom: 1rem;
	flex-grow: 4;
}
.c-morale__abilities {
	display: flex;
}