@import 'vars';

.l-core-morales {
 	display: flex;
}
.c-morale {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	border-right: 1px solid $color-base-border;
	padding-left: ($base-spacing / 2);
  &--1 {
    padding-left: 0;
  }
  &--4 {
    border-right: none;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 1rem;
    flex-grow: 4;
  }
  &__abilities {
    display: flex;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    padding-left: 0;
    padding-bottom: $base-spacing;
  }
}
