.coreMorales {
 	display: flex;
}
.moraleRank {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	border-right: 1px solid #dedede;
	padding-left: 5px;
}
.moraleRank--4 {
 	border-right: none;
}
.moraleRank__title {
	flex-grow: 4;
}
.moraleRank__abilities {
	display: flex;
}