@import 'vars';

.c-masthead {

  $font-size-masthead-heading: 4.8rem;
  $font-size-masthead-subheading: 2rem;

  position: relative;
  z-index: 10;
  height: ($base-spacing * 30);
  background: url('/images/home-background.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition: $base-transition;
  border-bottom: 1px solid $color-text-tertiary;

  &__overlay {
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  &__heading {
    font-size: $font-size-masthead-heading;
    text-align: center;
    padding-top: ($base-spacing * 5);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    transition: $base-transition;
  }

  &__subheading {
    font-size: $font-size-masthead-subheading;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  }

  &__cta {
    opacity: 1;
    transition: $base-transition;
    text-align: center;
  }

  &__footer {
    opacity: 0;
    transition: $base-transition;
    position: absolute;
    bottom: $base-spacing;
    right: $base-spacing;
    color: $color-text-content-primary;
    font-size: $font-size-breadcrumb;
    text-decoration: none;
  }

  &--active {
    height: ($base-spacing * 55);
  }

  &--active &__heading {
    padding-top: ($base-spacing * 3);
  }

  &--active &__cta {
    opacity: 0;
    margin-top: ($base-spacing * -10);
  }

  &--active &__footer {
    opacity: 1;
  }
}

.c-career {

  margin-top: 8rem;
  display: flex;
  justify-content: space-around;

  &__item {

    flex-grow: 0;
    flex-basis: 40%;
    opacity: 0;
    padding: ($base-spacing * 2);
    transition: $base-transition;
    background-color: rgba(0,0,0,0.5);

    &--left {
      margin-left: ($base-spacing * -90);
    }

    &--right {
      margin-right: ($base-spacing * -90);
    }
  }

  &__heading {
    font-size: $font-size-h2;
  }

  &__subheading {
    font-size: $font-size-h3; 
  }

  &__list {

    flex-basis: 50%;
    margin-bottom: ($base-spacing * 2);

    &__item {
      display: block;
      font-size: $font-size-breadcrumb;
      color: $color-text-content-primary;
      text-decoration: none;
      margin-bottom: ($base-spacing / 4);
    }
  }

  &--active &__item {
    opacity: 1;
  }

  &--active &__item--left {
    margin-left: 0;
  }

  &--active &__item--right {
    margin-right: 0;
  }
}

.c-list {

  &__heading {
    font-size: $font-size-h2;
    margin-bottom: ($base-spacing);
  }

  &__item {
    margin-top: 0;
    margin-bottom: ($base-spacing / 2);
    padding-left: $base-spacing;
  }
}