@import 'vars';

.c-modal {
  display: none;
  &--visible {
    display: block;
  }
  &__window {
    position: fixed;
    z-index: 10;
    width: 40%;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: $border-radius-base;
    box-shadow: 1px 1px 5px 0px #333;
  }
  &__title {

  }
  &__content {

  }
  &__footer {

  }
}
