@import 'vars';

$width-sidebar: 250px;
$font-size-sidebar: 0.8rem;
$color-sidebar-text: #dedede;
$color-sidebar-border: #505050;
$color-sidebar-background: #1c1c1c;
$color-sidebar-Background-hover: #3f3f3f;

.c-sidebar {
  
  &__overlay {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $color-overlay;
  }

  &__content {
    transition: $base-transition;
    position: absolute;
    top: 0;
    left: -$width-sidebar;
    width: $width-sidebar;
    background-color: $color-sidebar-background;
    height: 100%;
    overflow-y: auto;
  }

  &__item {
    display: block;
    line-height: 18px;
    transition: background .1s ease;
    color: $color-sidebar-text;
    padding: $base-spacing / 2;
    text-decoration: none;
    font-size: $font-size-sidebar;
    border-bottom: 1px solid $color-sidebar-border;
    &:hover {
      background: $color-sidebar-Background-hover;
    }
  }

  &--active {
    .c-sidebar {
      &__overlay {
        display: block;
      }
      &__content {
        transform: translateX(0px);
      }
    }
  }
}
  
#app {
  &.sidebar {
    transform: translateX($width-sidebar);
  }
}

body {
  &.sidebar {
    overflow-y: hidden;
  }
}
