@import 'vars';

$width-sidebar: 250px;
$font-size-sidebar: 1.2rem;
$color-sidebar-text: #dedede;
$color-sidebar-border: #505050;
$color-sidebar-background: #1c1c1c;
$color-sidebar-Background-hover: #3f3f3f;

.c-sidebar {

  z-index: 10;
  transition: $base-transition;
  position: fixed;
  top: 0;
  left: -$width-sidebar;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: $color-sidebar-background;

  &__content {
    width: $width-sidebar;
  }

  &__item {
    display: block;
    line-height: 2rem;
    transition: background .1s ease;
    color: $color-sidebar-text;
    padding: $base-spacing / 3;
    text-decoration: none;
    font-size: $font-size-sidebar;
    border-bottom: 1px solid $color-sidebar-border;
    &:hover {
      background: $color-sidebar-Background-hover;
    }
  }

  &--active {
    transform: translateX($width-sidebar);
  }
}
  
.l-wrapper {
  &.sidebar {
    transform: translateX($width-sidebar);
  }
}

.l-page-content {
  &.sidebar {
    transform: translateX($width-sidebar);
  }
}

body {
  &.sidebar {
    overflow-y: hidden;
  }
}
